.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.social-icons {
  display:flex-end;
   justify-content:left;
  align-items: left; 
  margin-top: -50px;
  margin-right: 40px;
}

.Logo {
  height: 60px;
  width: 120px;
  margin-left: 25px;
  margin-top: 2px;
}

.header-logo {
  margin-right: 20px;
  margin-top: 60px;
}

.header-toggler {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.social-icon {
  color: black;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction:row;
    align-items: center;
    
  }

  .social-icons {
    justify-content: center;
    margin-top: 10px;
  }

  .Logo {
    margin-top: 1px;
  }

  .header-toggler {
    margin-top: 10px;
    align-items: left;
    
  }
}

