 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


/* LOGIN PAGE */

.col, .col-sm-6{
  padding: 0;
}

.col-login{
  background-color:  #ff4702;
}


.icon-code{
  color: #ff4702;
  font-size: 150px;

}


.btn-dark {
  background-color: black;
  color: white;
}

.btn-white {
  background-color: white;
  color: black;
}


/* HOME PAGE */

.room{
  object-fit: cover;
  height: 100%;
  width: 100%;
}