 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


/* LOGIN PAGE */

.col-sm-6, .col-12{
  padding: 0;

}

.col-login{
  background-color:  #ff4702;
}


.icon-code{
  color: #ff4702;
  font-size: 150px;

}


.btn-dark {
  background-color: black;
  color: white;
  
}

.btn-white {
  background-color: white;
  color: black;
}

.orange-space{
  height: 9rem;
  width: 100%;
  background-color: #ff4702;
}


/* HOME PAGE */

.room{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

h1{
  color: #ff4702;
}

.cabina{
  height: 50vh;

}

/* REGISTER PAGE */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  margin-bottom: 20px;
}

.close {
  cursor: pointer;
}

.btn-register {

  background-color: #020100;
  color:#ffffff;
  border-color: #020100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5)
}

.btn-register:hover {
  background-color: #ffffff;
  color: #020100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}
/* Edit-Profile*/
.container {
  display: flex;
  flex-direction: column;
 
}

.link {
  display:flex;
  margin-top: 15px;
  justify-content: end;
  gap: 20px;
  text-decoration: none;
  color:rgb(141, 244, 39);
}


.container h1 {
  text-align: center;
  margin-top: 3rem;
  color: #ff4700;
  font-family: 'Poppins', sans-serif;
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  gap: 200px;
}

.input-container {
  align-items: flex-end;
  margin-bottom: 10px;
}

label {
  display: flex;
  margin-bottom: 5px;
}

input {
  width: 500px;
  border-radius: 5px;
  padding: 5px;
}
.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.save-button,
.cancel-button {
  margin-left: 100px;
  padding: 5px;
  border-radius: 10px;
  margin-top:50px;
}

.save-button {
  background-color: #ff4700;
  color: #ffffff;
}