 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


/* LOGIN PAGE */

.col-sm-6, .col-12{
  padding: 0;

}

.col-login{
  background-color:  #ff4700;
}


.icon-code{
  color: #ff4700;
  font-size: 150px;

}


.btn-dark {
  background-color: black;
  color: white;
  
}

.btn-white {
  background-color: white;
  color: black;
}

.orange-space{
  height: 9rem;
  width: 100%;
  background-color: #ff4700;
}
.btn {
  background-color:  #020100;
  color: #ffffff;
  
}

.btn:hover {
  background-color: #ffffff;
   border-color: #ded5d1ac;
}


/* HOME PAGE */

.room{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

h1{
  color: #ff4700;
}

.cabina{
  height: 50vh;

}


/*REGISTER PAGE*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container h1{
  text-align: center;
  margin-top: 3rem;
  font-family: 'Poppins';
  
}


.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  margin-bottom: 20px;
}
.btn-register{
margin-left: 90px;
border-radius: 50px;
margin-top: 50px;

}
.btn-register {

  background-color: #ff4700;
  color:#ffffff;
  border-color: #020100;

}

.btn-register:hover {
  background-color: #ffffff;
 
}
@media (max-width: 768px) {
  .col-md-6 {
    width: 100%;
  }
}
.btn-register {
  width: 100px;
}
.form-group label {
  text-align: left;
}





/* Edit-Profile*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  text-align: center;
  margin-top: 3rem;
  color: #ff4700;
  font-family: 'Poppins', sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin-bottom: 20px;

}

.input-container label {
  display: flex;
  margin-bottom: 5px;
}

.input-container input {
  width: 600px;
  border-radius: 5px;
  padding: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.button-container button {
  margin-right: 10px;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .input-container label {
    width: auto;
  }

  .input-container input {
    width: 100%;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
  }

  .button-container button {
    margin-bottom: -30px;
  }
}



