
/* Salas EachRoom
.col-lg-12 .container {
    margin: 1.5rem auto;
    flex-direction: row;
    display: flex!important;
}


.text-center > h1 {
    color: #ff4700;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
.text-center > h6 {
    text-align: center;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    
}

.col-md-4 {
    width: 100%;
    justify-content: center;
    display: flex;
}

.col-md-4 > img {
    max-width: 400px;
} */